.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

  
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #303030;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
    
  z-index: 0; }

.navbar-dark {
  background-color: #267349; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }
      .carousel .carousel-item h2{
        color: #0f0f0f
      }
      .carousel .carousel-item p{
        color: #0f0f0f
      }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-header {
  background: #512DA8;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background: #D1C4E9; }

  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

@media screen and (max-width: 699px) {
  .main-slider .hero-caption .year {
  font-size: 78px;
  font-weight: 700;
  display: block;
}
}

@media screen and (max-width: 699px) {
.main-slider .hero-caption .caption {
  font-size: 28px;
  font-weight: 700;
  display: inline-block;
}
}